$main-color: #2ecc71;

html,body  {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    .container {
        width: 200%;
        height: 100%;
        background: $main-color;
        position: relative;
        overflow: hidden;
        .remote {
            width: 50%;
            height: 100%;
            margin: 0 auto;
            background: rgb(52, 52, 52);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // differents lines of the remote
            float: left;
            .line {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                a {
                    text-decoration: none;
                    i {
                        font-size: 50px;
                        color:#ececec;
                    }
                    // display play or pause
                    &.toggle-play {
                        .fa-play {
                            display: inline;
                        }
                        .fa-pause {
                            display: none;
                        }
                    }
                    //on click of a button
                    &.clicked {
                        i {
                            color:$main-color;
                        }
                    }
                    // show or not if automode is activate
                    &.autoMode {
                        &.active {
                            i {
                                color:$main-color;
                            }
                        }
                    }
                }
            }
            // when player is on play mode
            &.isPlaying {
                .line {
                    a {
                        &.toggle-play {
                            .fa-play {
                                display: none;
                            }
                            .fa-pause {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
        // right menu
        .playlist_videos{
            float: left;
            width: 50%;
            height: 100%;
            background: rgb(40, 40, 40);
            color: white;
            font-family: sans-serif;
            overflow: scroll;
            .playlist_el {
                width: calc(100% - 5px);
                height: 20vh;
                line-height: 20vh;
                text-align: center;
                &.active {
                    background: black;
                    border-right: 5px solid $main-color;
                    position: relative;
                    overflow: hidden;
                    &:after {
                        content: "";
                        width: 30px;
                        height: 30px;
                        background: $main-color;
                        top: 50%;
                        transform: rotate(45deg) translateX(-50%);
                        position: absolute;
                        right: -30px;
                    }
                }
                h3 {
                    padding: 0;
                    margin: 0;
                }

            }
        }
    }
}
